# Node / Next / monorepo
node_modules/
.next/
out/
dist/
build/
.turbo/
.vercel/
.pnpm-store/
coverage/
*.log
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Env & local
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
.idea/
.vscode/
